# Checkpoint 0 
## Do not remove comments that start with: "# @@@" (Those are question tags)

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [3]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = a
b

[1, 2, 3, 4, 5, 6]

In [5]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
c = b[3:]
c

[4, 5, 6]

In [10]:
# @@@ Question 3: Create a list of numbers from 1 to 20

listl = [i for i in range(1,21,)]

listl

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
evens = [i for i in range(2, 101, 2)]
evens

In [13]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide(x, y):
    return x/y

In [14]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for i in range(1, 31):  # iteration from 1 to 30
    if i % 3 == 0 and i % 5 == 0:
        print("fizzbuzz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [16]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
Menu = {
"Gyro": 9 ,
"Burger": 9,
"Greek Salad": 8,
"Philly Steak": 10
}
Menu

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [28]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

df = pd.read_csv("../data/starbucks.csv")
type(df)

NameError: name 'pd' is not defined

In [ ]:
# @@@ Question 9: select all rows with more than and including 400 calories
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
type(df)

NameError: name 'df' is not defined

In [ ]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content
x = df[df["calories"] > df["iron"]]
x

In [24]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink
df["Caffeine_per_Calorie"] = df["Caffeine"] / df["Calories"]
df

NameError: name 'df' is not defined

In [ ]:
# @@@ Question 12: what is the average calorie across all items?
average_calories = df["Calories"].mean()

In [ ]:
# @@@ Question 13: how many different categories of beverages are there?
num_categories = df["Category"].nunique()

In [25]:
# @@@ Question 14: what is the average # calories for each beverage category?
avg_calories_per_category = df.groupby("Category")["Calories"].mean()

NameError: name 'df' is not defined